.card {
	margin: 0.2in 1in;
	background-color: #F1BF98;
	color: black;
	text-align: left;
}

.card .header {
	background-color: #6B818C;
	color: white;
	font-size: 24px;
	margin: 0 0;
	padding: 10px 10px;
}

.card .body {
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.card .body:hover {
	background-color: #EEE5E9;
}

.field-name {
	display: block;
	color: #555;
}

.field-value {
	display: block;
}