.card {
	margin: 0.2in 1in;
	background-color: #EEE5E9;
	color: black;
	text-align: left;
}

.card .header {
	background-color: #6B818C;
	color: white;
	font-size: 24px;
	margin: 0 0;
	padding: 10px 10px;
}

.card .body {
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.field-name {
	display: block;
	color: #555;
}

.field-value {
	display: block;
}

.bigBox {
	padding: 10px 10px;
	background-color: #8D0801;
	color: #F4D58D;
}

.bigBox span {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.bigBox button {
	background-color: #708D81;
}